body{

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

ul.ba-menu li {
	text-decoration: none;
	float: left;
	margin-left: 35px;
	list-style: none;
	margin-top: 10px;
	padding-right: 25px;



}
ul.ba-menu li>a:hover {
	color: #0078D7;
}
ul.ba-menu li>a {
	text-decoration: none;
font-family: Lato;
color:  #fffffe;
font-size: 13.92px;
font-weight: 500;
line-height: 60px;
text-align: left;
}
.ba-logo {
	padding-top: 40px;
}
.ba-creative {
	background: url(../img/hero.jpg);
	background-size: cover;
min-height: 100vh;
height: 900px;

}
.ba-banner {
padding-top: 260px;
margin-right: auto;
margin-left: auto;
max-width: 1200px;
}
.ba-title {
	font-family: Raleway;
color:  #ffffff;
font-size: 48px;
font-weight: 700;
line-height: 60px;
text-align: center;
}
.ba-text {
font-family: Lato;
color:  #fffefe;
font-size: 22px;
font-weight: 400;
line-height: 30px;
text-align: center;
max-width: 600px;
margin-left: 23.5%;
letter-spacing: 1.1px;
margin-top: 80px;

}
.ba-scroll {
	position: absolute;
	bottom: -240px;
	left: 46%;
}
.ba-scroll:hover {
	background: #0078D7;
	border-radius: 50%;
}
/*ba-services*/
.ba-services-grid {
	padding-bottom: 435px;
}
.ba-services-grid {
	padding-left: 7.5%;
	text-align: center;
	padding-top: 110px;
	height: 320px;


}
.ba-services-grid>.ba-width-1-3>p {
	width: 340px;
	text-align: center;
	font-family: Lato;
color:  #222222;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.ba-services-grid>.ba-width-1-3 {
	width: 340px;
	margin-right: 5.5%;
}
.ba-services__title {
	font-family: Raleway;
color:  #222222;
font-size: 35px;
font-weight: 700;
line-height: 60px;
text-align: center;
position: relative;
padding-top: 63px;
margin-left: -10px;
}
.ba-services__title:after {
	content: "";
	height: 2px;
	width: 88px;
	background: black;
	position: absolute;
	top: 180px;
	left: 46.2%;

}
.ba-services-img__title {
	font-family: Lato;
color:  #222222;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-align: center;
letter-spacing: ;

}

.ba-services-img {
	margin-bottom: 30px;

height: 125px;

}
/*section-magna*/
.ba-magna {
	background: url(../img/sectionsecond.jpg);
	background-size: cover;
	padding-top: 78px;
	padding-bottom: 0px;
}
.ba-magna__title {
	font-family: Lato;
color: #ffffff;
font-size: 44.67px;
font-weight: 400;
line-height: 60px;

transform: scaleY(1.0092);
}
.ba-magna-content {
width: 560px;
margin-top: -50px;

}
.ba-magna-content>p {
	font-family: Lato;
color: #ffffff;
font-size: 22px;
font-weight: 100;
line-height: 28px;
text-align: left;
}
.ba-magna-content>a {
font-family: Lato;
color: #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-decoration: underline;
text-align: left;
}
.ba-iphonplus {
	margin-right: 8.7%;
}
/*section ba-work*/
.ba-work__title {
	font-family: Raleway;
color: #222222;
font-size: 35px;
font-weight: 700;
line-height: 60px;
text-align: center;
position: relative;
padding-top: 65px;
}
.ba-work__title:after {
	content: "";
	height: 2px;
	width: 88px;
	background: black;
	position: absolute;
top: 180px;
	left: 46.2%;

}
.ba-work__grid {
	padding-top: 115px;

}
.ba-button {
	margin-left: 35%;
	margin-top: 75px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 360px;
	border: 2px solid black;
	text-decoration: none;
font-family: Lato;
color:  #222222;
font-size: 24px;
font-weight: 400;

text-align: center;


}
.ba-button:hover {
	background: #0078D7;
}
/*section ba-touch-footer*/
.ba-touch-footer__title {
font-family: Raleway;
color:  #ffffff;
font-size: 35px;
font-weight: 700;
line-height: 60px;
text-align: center;
}
.ba-footer {
	background: url(../img/touch.jpg);
	background-size: cover;
}
